
<form action="/cool_url" method="post">
  <input type="text" name="post[title]">
  <input type="text" name="post[price]">
  <input type = "submit" value="click me">
</form>

<ul>
  <li>item</li>
  <li>item</li>
  <li>item</li>
</ul>


